name: tophome
description: TopHome intro splash
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  archive: ^3.6.1
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/logo.png
